@import url(./booking.css);

@media screen and (min-width: 1351px) {
  .slides {
    display: flex;
    gap: 10px;
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .slider img {
    height: 90vh !important;
    width: 80dvw;
    border-radius: 30px;
    object-fit: cover;
    display: none;
    border-radius: 30px;
    display: none;
    transition: display 1s ease-in;
  }
  .qr-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
}

@media screen and (min-width: 801px) {
  .qr-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .more-info-grid {
    display: flex;
    flex-direction: column;
  }
  .more-info-grid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 2rem 0;
  }
  .more-info-grid .item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    /* background: red; */
  }
  .item img {
    height: 500px;
  }
}
@media screen and (max-width: 451px) {
  .location-checkout h1 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 651px) {
  .location-checkout h1 {
    font-size: 1.3rem;
  }
  .reverse {
    display: flex ;
    flex-direction: column-reverse !important;
  }
  .more-info-grid {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 10px;
  }
  .more-info-grid .item {
    /* background: red; */
    margin: 0;
    padding: 0 0.6rem;
  }
}
